@import url("https://fonts.googleapis.com/css?family=Roboto&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@900&display=swap');

* {
  /* Override default margins for sidebar*/
  --pagedjs-margin-right: 0.25in;
  --pagedjs-margin-left: 0.3in;
  --pagedjs-margin-top: 0.3in;
  --pagedjs-margin-bottom: 0.2in;
}

/* Customize some of the sizing variables */
:root {
  --page-width: 210mm;
  --margin-left: 0.25in;
  --margin-right: 0.32in;

  --sidebar-width: 12rem; /* Shrink sidebar width  */
  --sidebar-background-color: #f2f2f1; /* Make sidebar grey */
  --sidebar-horizontal-padding: 0.01in; /* Reduce sidebar padding */
  --decorator-outer-dim: 10px; /* Make position deliniating circles larger */
  --decorator-border: 2px solid #e0e0e0; /* Make timeline a grey as well*/

  /* define colors */
  --main-color-headers: #274b9f;
  --main-color-timeline-headers: #a8a7a7;
  --main-color-skillbar-background: #d9d9d9;

  /* space at the top of blocks in main section*/
  --row-blocks-padding-top: 0.2rem;

  /* adjust date column in timeline */
  --date-block-width: 0.55in;

  /* adding var vor line height*/
  --line-height: 1.15;
}

body {
  font-family: "Roboto", sans-serif; /*"Montserrat", sans-serif;*/
  font-weight: 300;
  line-height: var(--line-height);
  color: #444;
}

/* Give headers playfair font */
h1,
h2 {
  font-family: "Roboto", sans-serif; /*"Playfair Display", serif;*/
  color: var(--main-color-headers);
}
h3 {
  font-family: "Roboto", sans-serif; /*"Playfair Display", serif;*/
  font-weight: 900;
  color: black;
}

/* change color of links */
a{
  color: var(--main-color-headers);
}

/* reduce padding of main section*/
[data-id="main"] {
  padding: 0 0.35in 0 0;
}
/* header in main section to color grey */
[data-id="main"] h2 {
  color: var(--main-color-timeline-headers);
}
/* adjust title section within main section to right align with timeline text*/
/* right and left padding to sun up to zero to align with main section */
[data-id="title"] {
  margin: 0 0.5in 0.0 -0.5in;
}

/* When in PDF export mode make sure superscripts are nice and small and italic */
sup {
  font-size: 0.45rem;
  font-style: italic;
}

.main-block{
  margin-top: 0.2in;
}

/* Avoid the breaking within a section */
.blocks {
  break-inside: avoid;
}

.details .place {
  margin-top: 0.25rem;
}

.main-block:not(.concise) .details div {
  padding-top: 0.005rem;
}

.formerly {
  font-size: 10px;
  color: var(--main-color-timeline-headers);
  margin-top: -5px;
}

/* Change color of icons */
.fa-map-marker-alt {
  color: var(--main-color-headers);
}

/* Laptop icon isn't centered by default which is lame */
.fa-laptop {
  margin-left: -3px;
}

/* When we have links at bottom in a list make sure they actually are numbered */
#links li {
  list-style-type: decimal;
}

/* Dont put the little fake list point in front of links */
/*.aside li::before {
  display: none;
}*/

/* Move closer to start and up towards header */
.aside ul {
  padding-left: 0.5rem;
}

/* reduce distnce between sections in side pane */
.aside .level2 {
  margin-top: 0.2in;
}

.aside li::before {
  position: relative;
  margin-left: -4.25pt;
  content: "• ";
}

/* Make sure elements in asside are centered and have a nice small text */
.aside {
  width: calc(var(--sidebar-width) + 9px);
  height: 102%; /* scrappy way of moving disclaimer further down*/
  padding-top: 0;
  padding-bottom: 0;
  line-height: var(--line-height);
  font-size: 0.75rem;
  margin-top: -0.1in;
}

/* Make little circle outline be a light blue */
.decorator::after {
  background-color: var(--main-color-headers);
}

/* Remove the fake bullets from lists */
.aside li::before {
  content: auto;
}

.skill-bar {
  color: white;
  padding: 0.1rem 0.25rem;
  margin-top: 3px;
  position: relative;
  width: 100%;
}


/* When the class no-timeline is added we remove the after psuedo element from the header... */

/* Removes the psuedo element on h2 tags for this section */
.section.no-timeline h2::after {
  content: none;
}

/* Without adding padding the content is all up on the title */
.section.no-timeline h2 {
  padding-bottom: 1rem;
}

/* Add styles for little cards  */
.info-card{
  width: 220px;
  float: left;
  padding: 0.5rem;
  margin: 0.5rem;
  box-shadow: 1px 1px 4px black;
}

/* Style for skill table*/
.skill_table {
  border-collapse: collapse;
  margin-top: 5px;
}
.skill_table tr td {
  border-right: 2px solid var(--main-color-skillbar-background);
}
.skill_table tr td:last-child {
  border: none;
}

@page {
  @bottom-left {
    content: counter(page) "/" counter(pages);
    font-size: 0.7rem;
    padding-bottom: calc(var(--pagedjs-margin-bottom));
  }
}

